@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  font-family: 'Inter';
}

.active {
  background-color: #3f3f46;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px 4px;
  border-bottom: 1px solid #d5d5da;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  margin-bottom: 4px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 99.8%;
  background-position-y: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.form-control input,
.form-control select {
  background-color: transparent;
  border: 1px solid #aaa6a6;
  padding: 8px;
  border-radius: 4px;
}

.form-control input:disabled {
  color: #b9b3b3;
  background-color: #f1f1f1;
}
